version: '3.8'

services:
  chroma:
    image: chromadb/chroma:latest
    container_name: brainbot-chroma
    ports:
      - "8000:8000"
    volumes:
      - ./chroma_data:/chroma/chroma
    environment:
      - IS_PERSISTENT=TRUE
      - ANONYMIZED_TELEMETRY=FALSE
    restart: unless-stopped


    # TODO: Add deduplication service here
